# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
*.env

# Virtual environment
venv/

# Database files
*.db

# IDE specific files
.vscode/
.pytest_cache/
.idea/
*.code-workspace

# Miscellaneous
*.log
*.bak
*.swp
.DS_Store
Thumbs.db
