<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="layout-container">

        <div class="wrapper">

            <!-- Calculator -->
            <div class="calculator">

                <div class="auth-bar">
                    {% if user %}
                    <span>Salut, {{ user.username }}
                        <a href="/logout" class="button" type="button">Logout</a>
                    </span>
                    {% else %}
                    <a href="/login" class="button" type="button">Login</a>
                    <a href="/register" class="button" type="button">Înregistrare</a>
                    {% endif %}
                </div>

                <h2 class="screen" id="screen">{{ result or "" }}</h2>
                <form method="post" id="calc-form">
                    <input type="hidden" name="expression" id="expression">
                    <div class="buttons">
                        <button type="button" onclick="append('7')">7</button>
                        <button type="button" onclick="append('8')">8</button>
                        <button type="button" onclick="append('9')">9</button>
                        <button type="button" class="operator" onclick="append('/')">÷</button>

                        <button type="button" onclick="append('4')">4</button>
                        <button type="button" onclick="append('5')">5</button>
                        <button type="button" onclick="append('6')">6</button>
                        <button type="button" class="operator" onclick="append('*')">×</button>

                        <button type="button" onclick="append('1')">1</button>
                        <button type="button" onclick="append('2')">2</button>
                        <button type="button" onclick="append('3')">3</button>
                        <button type="button" class="operator" onclick="append('-')">−</button>

                        <button type="button" class="span-two" onclick="append('0')">0</button>
                        <button type="button" onclick="append('.')">.</button>
                        <button type="button" class="operator" onclick="append('+')">+</button>

                        <button type="submit" class="equal span-two">=</button>
                        <button type="button" class="clear" onclick="clearScreen()">C</button>
                        <button type="button" class="backspace" onclick="backspace()">←</button>

                        <button type="button" onclick="append('&#40;')">(</button>
                        <button type="button" onclick="append('&#41;')">)</button>
                        <button type="button" onclick="append('^')">^</button>
                        <button type="button" onclick="append('%')">%</button>

                        <button type="button" onclick="append('**0.5')">√</button>
                        <button type="button" onclick="callFactorial()">n!</button>
                        <button type="button" onclick="callFibonacci()">fib</button>
                        <button type="button" onclick="callPow()">pow</button>

                    </div>
                </form>
            </div>

            <!-- Istoric -->
            <div class="history-box">
                <div class="history-header">
                    <h3>Istoric</h3>
                    <div class="history-actions">
                        <button onclick="deleteHistory()">🧹</button>
                        <a href="/history/export" download>
                            <button>⬇️</button>
                        </a>
                    </div>
                </div>
                <ul id="history-list"></ul>
            </div>
        </div>
    </div>

    <script src="/static/calculator.js"></script>
</body>

</html>